
 /* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 40px 40px;
  
    /* Animation */
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: beige;
    border-radius: 5px;
    color: #000;
}

/* Contenedor del formulario */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título del formulario */
.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilos del formulario */
.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input:focus {
    border-color: #007bff;
    outline: none;
}

.login-container button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #000000;
    transition: 0.5s;
}


.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: beige;
    border-radius: 5px;
    color: #000;
}

/* Título del formulario */
.register-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilos del formulario */
.register-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-container input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container input:focus {
    border-color: #007bff;
    outline: none;
}

.register-container button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #000000;
    transition: 0.5s;
}


.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 600px; /* Ajustado para acomodar la tabla */
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
